# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries, builds and temp files
bin
dist
.tmp

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
